
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}
.card {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.used {
    background-color: #f9f9f9;
    text-decoration: line-through;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
button {
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.prompt-card {
    background-color: #c6f7c6;
    cursor: default;
    padding: 10px;
    font-weight: bold;
}
#upload-button{
    background-color: #4CAF50; /* Green background */
    padding: 10px 15px;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#upload-button:hover {
    background-color: #45a049; /* Darker green on hover */
}